In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import auc, roc_curve, classification_report

In [2]:
email_table = pd.read_csv('../data/ch7/email_table.csv')
email_table.head()

,email_id,email_text,email_version,hour,weekday,user_country,user_past_purchases
0,85120,short_email,personalized,2,Sunday,US,5
1,966622,long_email,personalized,12,Sunday,UK,2
2,777221,long_email,personalized,11,Wednesday,US,2
3,493711,short_email,generic,6,Monday,UK,1
4,106887,long_email,generic,14,Monday,US,6

In [3]:
# read email_opened_table.csv
email_opened = pd.read_csv('../data/ch7/email_opened_table.csv')
email_opened.head()

   email_id
0    284534
1    609056
2    220820
3    905936
4    164034

In [4]:
# read link_clicked_table.csv
link_table = pd.read_csv('../data/ch7/link_clicked_table.csv')
link_table.head()

   email_id
0    609056
1    870980
2    935124
3    158501
4    177561