In [1]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
count = pd.read_csv('../data/ch18/video_count.csv', parse_dates=['date'])
count.head()

   video_id    count       date
0      2303       22 2015-01-07
1      1193    54854 2015-01-12
2      1219  1788779 2015-01-03
3      1472      234 2015-01-04
4      2947    14407 2015-01-08

In [3]:
feature = pd.read_csv('../data/ch18/video_features.csv')
feature.head()

   video_id  video_length video_language video_upload_date video_quality
0      2374          1760             Cn        2014-12-06          480p
1      1897           489             Cn        2014-12-10          720p
2      2386          1273             Es        2014-12-05          480p
3      2912           986             Es        2014-12-10          240p
4      2432          1050          Other        2014-12-10          480p