In [2]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind

In [4]:
user = pd.read_csv('../data/ch17/user_table.csv', parse_dates=['signup_date'])
user.head()

   user_id signup_date
0       34  2015-01-01
1       59  2015-01-01
2      178  2015-01-01
3      285  2015-01-01
4      383  2015-01-01

In [5]:
test = pd.read_csv('../data/ch17/test_table.csv', parse_dates=['date'])
test.head()

   user_id       date  browser  test  pages_visited
0   600597 2015-08-13       IE     0              2
1  4410028 2015-08-26   Chrome     1              5
2  6004777 2015-08-17   Chrome     0              8
3  5990330 2015-08-27   Safari     0              8
4  3622310 2015-08-07  Firefox     0              1